* {
  box-sizing: border-box;
  margin: auto;
}

h1 {
  color: blue;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  /* max-width: 400px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
}

.board-container {
  margin: 1%;
  background-color: rgb(255, 140, 0);
}

.board-container td {
  background-color: rgb(18, 146, 197);
  background-image: linear-gradient(rgb(18, 146, 197), rgb(18, 43, 189));
  border-radius: 8%;
  margin: 30%;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(198, 248, 193);
}

.cell {
  font-size: 1.5em;
  width: 2em;
  height: 2em;
}

button {
  background-image: linear-gradient(rgb(243, 203, 130), rgb(18, 43, 189));
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  display: inline-block;
  border-radius: 5px;
  height: 40px;
}

tr,
td {
  margin: auto;
  border: none;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}

td span {
  font-weight: bold;
}

.hidden {
  visibility: hidden;
}

.marked {
  color: orange;
}
